<h1>Admin console</h1>
<%#= button_to 'Generate new boxes',  {action: 'new_boxes', controller: 'admin'}, method: 'get'%>

<%#= button_to 'Generate new passports',  {action: 'new_passports', controller: 'admin'}, method: 'get'%>

<%#= button_to 'Generate new clients',  {action: 'new_clients', controller: 'admin'}, method: 'get'%>

<%#= button_to 'Generate new payment details',  {action: 'new_payment_details', controller: 'admin'}, method: 'get'%>
<%= button_to 'Update tariff',  {action: 'update_tariff', controller: 'admin'}, method: 'get'%>
<%= button_to 'Generate new contracts',  {action: 'new_contracts', controller: 'admin'}, method: 'get'%>